
<main id="project"></main>
<script>
    const state = {
        projectBoard: {{{projectBoard}}},
        tasks: {{{tasks}}},
        users: {{{users}}},

    }
</script>
<script src="/project.js"></script>












